
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model library_management_system.Models.Loan

@{
	ViewData["Title"] = Localizer["New Loan"];
	ViewData["ActiveNav"] = "Loans";
}

<div class="mb-3">
	<h1 class="display-4">@Localizer["Add New Loan"]</h1>
</div>

<form method="post" asp-controller="Loans" asp-action="Create">
	<div class="row mb-5">
		<div class="col-12 col-md-6">
			<div class="mb-3">
				<label asp-for="LoanDate" class="form-label">
					@Html.DisplayNameFor(model => model.LoanDate)
				</label>
				<input asp-for="LoanDate" class="form-control" type="date" required />
			</div>
			<div class="mb-3">
				<label asp-for="DueDate" class="form-label">
					@Html.DisplayNameFor(model => model.DueDate)
				</label>
				<input asp-for="DueDate" class="form-control" type="date" required />
			</div>
			<button type="submit" class="btn btn-primary"><i
				class="bi bi-calendar-plus me-2"></i> @Localizer["Create Loan"]</button>
		</div>
	</div>
</form>
